* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, white, black);
    box-sizing: inherit;
}


.done {
    text-decoration: line-through;
}

.todo__container {
    background-color: #eee;
    width: 30rem;
}

.todo__list {
    
}