.gradient__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 8%;
    background-color: $color-gray-light;
    box-shadow: $shadow;
    opacity: 0.8;

    .gradient__header {
        font-weight: 300;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        padding: 0 .3rem;
        margin: 15vh auto 2rem;
    }

    input[type="color"] {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 1rem;
    }

    .colorInp-label {
        padding: 0.8rem 0.5rem;
    }
}