

.todo__container {

    width: 40rem;
    background-color: $color-gray-light;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: .3rem;
    box-shadow: $shadow;

    @media only screen and (max-width: 642px) {
        width: 70vw;
    }

    .input {
        width: 100%;
        height: 5rem;
        display: flex;
        font-size: 2rem;
        overflow: hidden;

        &__user {
            height: 100%;
            flex-grow: 1;
            border: none;
            border-top-left-radius: .3rem;
        }

        &__btn {
            height: 100%;
            flex-basis: 10%;
            background-color: $color-white;
            border: none;
            border-top-right-radius: .3rem;
            padding: .5rem 1rem .5rem;
            font-size: 4rem;
            color: $color-deleteBtn-1;
            transition: transform .2s ease-out;
        }

        &__btn:hover {
            transform: scale(1.2);
        }

        &__user:focus, &__btn:focus {
            outline: none;
        }
    }

    .todo-list {

        list-style-type: none;
        font-size: 1.8rem;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;

        &__item {
            height: auto;
            display:flex;
            align-items: stretch;
            cursor: pointer;
            overflow: hidden;
            transition: transform .2s ease-out;

            &:not(:last-child) {
                border-bottom: 1px solid $color-white;
            }
        }


        &__item:nth-child(1n) {
            background-color: $color-todo-1;
            color: $color-gray;
        }

        &__item:nth-child(2n) {
            background-color: $color-todo-2;
            color: $color-white;
        }

        &__item:hover {
            transform: scaleX(1.03);
            border: $color-todo-hover-border;
            border-radius: .3rem;
        }

        &__item:last-child {
            border-bottom-left-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }

        &__name {
            flex: 1;
            height: 100%;
            text-transform: capitalize;
            padding: 1.5rem 0rem 1.5rem 2rem;
        }

        &__delete {
            height: auto;
            padding: 0 1rem;
            background-color: $color-deleteBtn-1;
            cursor: pointer;
            border: none;
            background-image: $btn-background;
            background-size: 225%;
            transition: all .5s;
            display:inline-block;
            font-size: 2.5rem;
            color: $color-white;

        }

        &__delete:hover  {
            background-position: 100%;
        }
    }
}

.done {
    background-color: $color-deleteBtn-2;
    color:$color-white;
    opacity: 0.7;
    font-size: 1.4rem;
    text-decoration: line-through;
    transition: all .4s;
}

input[type="text"] {
    font-size:2rem;
    color: $color-deleteBtn-1;
    padding: 1rem;
}