/* Variables */
$shadow: 0 .5rem 1rem #111111ab;

/* Color variables */
$color-white: #fff;
$color-black: #000;
$color-gray: #333;
$color-gray-medium: #777;
$color-gray-light: #eee;
$color-title-background: #0c6161;
$color-todo-1: #a7caca;
$color-todo-2:  #529c9c;
$color-deleteBtn-1: #258525;
$color-deleteBtn-2: #f82c2c;

/* Todo list item border on hover */
$color-todo-hover-border: 1px solid rgb(81, 110, 192);

/*Delete button background on hover */
$btn-background: linear-gradient(90deg,transparent 0%,transparent 50%, $color-deleteBtn-2 50%, $color-deleteBtn-2 100%);